In [15]:
import pandas as pd

# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder
from sklearn.linear_model import LinearRegression
import pandas as pd
import tensorflow as tf

#  Import and read the Data_Table_Mortages
file_path_Alberta = "//content/Mortages_Alberta.xlsx"
Alberta_df=pd.read_excel(file_path_Alberta)
Alberta_df.head()

,Quarters,Mortgage_delinquency_rate,Average_Value_New_Loans,Residential_Mortgage_Arrears_Rates
0,2013Q1,0.52,277158,0.460000
1,2013Q2,0.47,278516,0.420000
2,2013Q3,0.45,289263,0.405950
3,2013Q4,0.43,284928,0.387605
4,2014Q1,0.42,291926,0.356118

In [16]:
# Extract the year from the "Quarters" column
Alberta_df['Year'] = Alberta_df['Quarters'].str[:4].astype(int)

In [17]:
# Group the data by year and calculate the mean of each column
Alberta_df = Alberta_df.groupby('Year').mean()

In [18]:
# Reset the index of the dataframe
Alberta_df = Alberta_df.reset_index()

In [19]:
Alberta_df.dtypes

Year                                    int64
Mortgage_delinquency_rate             float64
Average_Value_New_Loans               float64
Residential_Mortgage_Arrears_Rates    float64
dtype: object

In [ ]:
Alberta_df.head()

,Year,Mortgage_delinquency_rate,Average_Value_New_Loans,Residential_Mortgage_Arrears_Rates
0,2013,0.4675,282466.25,0.418389
1,2014,0.3625,298145.00,0.306694
2,2015,0.3400,304252.50,0.274545
3,2016,0.4800,300443.25,0.407161
4,2017,0.5175,304217.00,0.442388

In [20]:
# Save the aggregated data back to the file
Alberta_df.to_excel("/content/Alberta_Data.xlsx")

In [21]:
# Check for missing values
print(Alberta_df.isna().sum())

Year                                  0
Mortgage_delinquency_rate             0
Average_Value_New_Loans               0
Residential_Mortgage_Arrears_Rates    4
dtype: int64

In [22]:
# Handle missing values
Alberta_cleaned_df = Alberta_df.fillna(Alberta_df.mean())

In [23]:
# Scale the data
scaler = StandardScaler()
Alberta_cleaned_df_scaled = scaler.fit_transform(Alberta_cleaned_df)

In [24]:
# Split the data into features and target
features = Alberta_df.drop(['Mortgage_delinquency_rate'], axis=1)
target = Alberta_df['Mortgage_delinquency_rate']

In [25]:
# Split the data into training and testing sets
X = Alberta_cleaned_df_scaled[:, 1:]
y = Alberta_cleaned_df_scaled[:, 0]
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [26]:
# Train the linear regression model
model = LinearRegression()
model.fit(X_train, y_train)

LinearRegression()

In [27]:
# Evaluate the model on the testing set
y_pred = model.predict(X_test)

In [29]:
# Print accuracy
accuracy = model.score(X_test, y_test)
print("Accuracy: ", accuracy)

Accuracy:  0.9827643864219889