In [48]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder
import pandas as pd
import tensorflow as tf
import numpy as np
from sklearn.linear_model import LinearRegression

#  Import and read the Data_Table_Mortages
file_path = "/content/Data_Table_Mortgages.xlsx"
mortages_df=pd.read_excel(file_path)
mortages_df.head()

,Quarters,Mortgage_delinquency_rate,Average_Value_New_Loans,Residential_Mortgage_Arrears_Rates
0,2013Q1,0.37,214203,0.320000
1,2013Q2,0.35,212978,0.310000
2,2013Q3,0.35,226172,0.311882
3,2013Q4,0.35,223413,0.315286
4,2014Q1,0.37,225005,0.305352

In [ ]:
# Extract the year from the "Quarters" column
mortages_df['Years'] = mortages_df['Quarters'].str[:4].astype(int)

In [ ]:
# Group the data by year and calculate the mean of each column
Canada_df= mortages_df.groupby('Years').mean()

In [ ]:
# Reset the index of the dataframe
Canada_df= Canada_df.reset_index()

In [ ]:
Canada_df.dtypes

Years                                   int64
Mortgage_delinquency_rate             float64
Average_Value_New_Loans               float64
Residential_Mortgage_Arrears_Rates    float64
dtype: object

In [ ]:
Canada_df.head()

,Years,Mortgage_delinquency_rate,Average_Value_New_Loans,Residential_Mortgage_Arrears_Rates
0,2013,0.3550,219191.50,0.314292
1,2014,0.3500,231196.75,0.290257
2,2015,0.3525,247453.25,0.274011
3,2016,0.3500,266337.50,0.279614
4,2017,0.3125,279651.75,0.248447

In [ ]:
# Save the aggregated data back to the file
Canada_df.to_excel("/content/Annual_Data.xlsx")

In [ ]:
# Check for missing values
print(Canada_df.isna().sum())

Years                                 0
Mortgage_delinquency_rate             0
Average_Value_New_Loans               0
Residential_Mortgage_Arrears_Rates    4
dtype: int64

In [ ]:
# Handle missing values
Canada_cleaned_df = Canada_df.fillna(Canada_df.mean())

In [ ]:
#  Import and read the Housing_Market_indicators
file_path = "/content/Housing_Market_Indicators.xlsx"
market_indicators_df=pd.read_excel(file_path)
market_indicators_df.head()

,Years,Real_Median_Household_Income,Consumer_Price_Index_Percent_Change,Labour_Force_Participation_Rate,Unemployment_Rate,Real_Disposal_Income_Percent_Change
0,2006,60100,2.002025,67.033333,6.3,6.089716
1,2007,61500,2.138384,67.441667,6.0,3.896337
2,2008,63100,2.370271,67.550000,6.1,4.113306
3,2009,63300,0.299467,67.083333,8.3,2.423067
4,2010,62300,1.776872,66.933333,8.1,3.497968

In [ ]:
df_3 = pd.merge(Canada_df, market_indicators_df, how='inner',right_index=False)
df_3

,Years,Mortgage_delinquency_rate,Average_Value_New_Loans,Residential_Mortgage_Arrears_Rates,Real_Median_Household_Income,Consumer_Price_Index_Percent_Change,Labour_Force_Participation_Rate,Unemployment_Rate,Real_Disposal_Income_Percent_Change
0,2013,0.3550,219191.50,0.314292,64600,0.938292,66.458333,7.1,3.182510
1,2014,0.3500,231196.75,0.290257,66300,1.906636,65.991667,6.9,1.224499
2,2015,0.3525,247453.25,0.274011,66400,1.125241,65.850000,6.9,3.360780
3,2016,0.3500,266337.50,0.279614,66100,1.428760,65.700000,7.0,NaN
4,2017,0.3125,279651.75,0.248447,68100,NaN,NaN,NaN,NaN
5,2018,0.2875,277114.00,0.243891,68400,NaN,NaN,NaN,NaN
6,2019,0.2950,276762.25,NaN,69300,NaN,NaN,NaN,NaN

In [ ]:
df_3.to_csv('Mortages_Canada')

In [44]:
# Scale the data
scaler = StandardScaler()
df_3_scaled=scaler.fit_transform(df_3)
#Canada_cleaned_df_scaled = scaler.fit_transform(Canada_cleaned_df)

In [45]:
# Split the data into features and target
#features = Canada_cleaned_df.drop(['Mortgage_delinquency_rate'], axis=1)
#target = Canada_cleaned_df['Mortgage_delinquency_rate']
features= df_3.drop(['Mortgage_delinquency_rate'], axis=1)
target=df_3['Mortgage_delinquency_rate']

In [50]:
# Split the data into training and testing sets
X = df_3_scaled[:, 1:]
y = df_3_scaled[:, 0]
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [51]:
# Train the linear regression model
model = LinearRegression()
model.fit(X_train, y_train)

ValueError: ignored

In [52]:
# Evaluate the model on the testing set
y_pred = model.predict(X_test)

NotFittedError: ignored

In [41]:
# Print accuracy
accuracy = model.score(X_test, y_test)
print("Accuracy: ", accuracy)

Accuracy:  0.9717437816794442