In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder
import pandas as pd
import tensorflow as tf
import numpy as np
from sklearn.linear_model import LinearRegression

#  Import and read the Data_Table_Mortages
file_path = "/content/Data_Table_Mortgages_4-2.xlsx"
mortages_df=pd.read_excel(file_path)
mortages_df.head()

,Year,Mortgage delinquency rate (%),Average Value of New Mortgage Loans ($),Residential Mortgage Arrears and Foreclosure Rates (%),Real_Median_Household_Income,Consumer_Price_Index_Percent_Change,Labour_Force_Participation_Rate,Unemployment_Rate,Real_Disposal_Income_Percent_Change
0,2013,0.3550,219191.50,0.314292,79800.0,0.938292,66.458333,7.1,3.182510
1,2014,0.3500,231196.75,0.290257,80400.0,1.906636,65.991667,6.9,1.224499
2,2015,0.3525,247453.25,0.274011,80900.0,1.125241,65.850000,6.9,3.360780
3,2016,0.3500,266337.50,0.279614,81100.0,1.428760,65.700000,7.0,NaN
4,2017,0.3125,279651.75,0.248447,82500.0,1.600000,NaN,6.4,NaN

In [2]:
mortages_df.dtypes

Year                                                        int64
Mortgage delinquency rate (%)                             float64
Average Value of New Mortgage Loans ($)                   float64
Residential Mortgage Arrears and Foreclosure Rates (%)    float64
Real_Median_Household_Income                              float64
Consumer_Price_Index_Percent_Change                       float64
Labour_Force_Participation_Rate                           float64
Unemployment_Rate                                         float64
Real_Disposal_Income_Percent_Change                       float64
dtype: object

In [17]:
mortages_df.head()

,Year,Mortgage delinquency rate (%),Average Value of New Mortgage Loans ($),Residential Mortgage Arrears and Foreclosure Rates (%),Real_Median_Household_Income,Consumer_Price_Index_Percent_Change,Labour_Force_Participation_Rate,Unemployment_Rate,Real_Disposal_Income_Percent_Change
0,2013,0.3550,219191.50,0.314292,79800.0,0.938292,66.458333,7.1,3.182510
1,2014,0.3500,231196.75,0.290257,80400.0,1.906636,65.991667,6.9,1.224499
2,2015,0.3525,247453.25,0.274011,80900.0,1.125241,65.850000,6.9,3.360780
3,2016,0.3500,266337.50,0.279614,81100.0,1.428760,65.700000,7.0,NaN
4,2017,0.3125,279651.75,0.248447,82500.0,1.600000,NaN,6.4,NaN

In [19]:
# Save the aggregated data back to the file
mortages_df.to_csv("/content/Canada_Data.xlsx")

In [5]:
# Check for missing values
print(mortages_df.isna().sum())

Year                                                      0
Mortgage delinquency rate (%)                             0
Average Value of New Mortgage Loans ($)                   0
Residential Mortgage Arrears and Foreclosure Rates (%)    4
Real_Median_Household_Income                              3
Consumer_Price_Index_Percent_Change                       0
Labour_Force_Participation_Rate                           6
Unemployment_Rate                                         0
Real_Disposal_Income_Percent_Change                       7
dtype: int64

In [6]:
# Handle missing values. We're unable to find the actual values for some of these and we can't drop them either 
#So in this case we're making an exception and including the mean as a way to handle the missing values.  
mortages_cleaned_df = mortages_df.fillna(mortages_df.mean())

In [7]:
# Scale the data
scaler = StandardScaler()
mortages_cleaned_scaled=scaler.fit_transform(mortages_cleaned_df)

In [12]:
# Split the data into features and target
features= mortages_cleaned_df.drop(['Mortgage delinquency rate (%)'], axis=1)
target=mortages_cleaned_df['Mortgage delinquency rate (%)']

In [13]:
# Split the data into training and testing sets
X = mortages_cleaned_scaled[:, 1:]
y = mortages_cleaned_scaled[:, 0]
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [14]:
# Train the linear regression model
model = LinearRegression()
model.fit(X_train, y_train)

LinearRegression()

In [15]:
# Evaluate the model on the testing set
y_pred = model.predict(X_test)

In [16]:
# Print accuracy
accuracy = model.score(X_test, y_test)
print("Accuracy: ", accuracy)

Accuracy:  0.9568916069041513