In [ ]:
import pandas as pd

# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder
import pandas as pd
import tensorflow as tf

#  Import and read the Data_Table_Mortages
import pandas as pd 
file_path = "/content/Data_Table_Mortgages.xlsx"
mortages_df=pd.read_excel(file_path)
mortages_df.head()

,Quarters,Mortgage_delinquency_rate,Average_Value_New_Loans,Residential_Mortgage_Arrears_Rates
0,2013Q1,0.37,214203,0.320000
1,2013Q2,0.35,212978,0.310000
2,2013Q3,0.35,226172,0.311882
3,2013Q4,0.35,223413,0.315286
4,2014Q1,0.37,225005,0.305352

In [ ]:
# Extract the year from the "Quarters" column
mortages_df['Year'] = mortages_df['Quarters'].str[:4].astype(int)

In [ ]:
# Group the data by year and calculate the mean of each column
Canada_df= mortages_df.groupby('Year').mean()

In [ ]:
# Reset the index of the dataframe
Canada_df= Canada_df.reset_index()

In [ ]:
Canada_df.dtypes

Year                                    int64
Mortgage_delinquency_rate             float64
Average_Value_New_Loans               float64
Residential_Mortgage_Arrears_Rates    float64
dtype: object

In [ ]:
Canada_df.head()

,Year,Mortgage_delinquency_rate,Average_Value_New_Loans,Residential_Mortgage_Arrears_Rates
0,2013,0.3550,219191.50,0.314292
1,2014,0.3500,231196.75,0.290257
2,2015,0.3525,247453.25,0.274011
3,2016,0.3500,266337.50,0.279614
4,2017,0.3125,279651.75,0.248447

In [ ]:
# Save the aggregated data back to the file
Canada_df.to_excel("/content/Annual_Data.xlsx")

In [ ]:
# Check for missing values
print(Canada_df.isna().sum())

In [ ]:
# Handle missing values
Canada_cleaned_df = Canada_df.fillna(Canada_df.mean())

In [ ]:
# Scale the data
scaler = StandardScaler()
Canada_cleaned_df_scaled = scaler.fit_transform(Canada_cleaned_df)

In [ ]:
# Split the data into features and target
features = Canada_cleaned_df.drop(['Mortgage_delinquency_rate'], axis=1)
target = Canada_cleaned_df['Mortgage_delinquency_rate']

In [ ]:
# Split the data into training and testing sets
X = Canada_cleaned_df_scaled[:, 1:]
y = Canada_cleaned_df_scaled[:, 0]
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [ ]:
# Train the linear regression model
model = LinearRegression()
model.fit(X_train, y_train)

In [ ]:
# Evaluate the model on the testing set
y_pred = model.predict(X_test)

In [ ]:
# Print the test accuracy
print("Test accuracy: ", test_accuracy)