In [ ]:
import pandas as pd

# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder
import pandas as pd
import tensorflow as tf

#  Import and read the Data_Table_Mortages
file_path_Ontario = "/content/Mortgages_Ontario.xlsx"
Ontario_df=pd.read_excel(file_path_Ontario)
Ontario_df.head()

In [ ]:
# Extract the year from the "Quarters" column
Ontario_df['Year'] = Ontario_df['Quarters'].str[:4].astype(int)

In [ ]:
# Group the data by year and calculate the mean of each column
Ontario_df = Ontario_df.groupby('Year').mean()

In [ ]:
# Reset the index of the dataframe
Ontario_df = Ontario_df.reset_index()

In [ ]:
Ontario_df.dtypes

Year                                    int64
Mortgage_delinquency_rate             float64
Average_Value_New_Loans               float64
Residential_Mortgage_Arrears_Rates    float64
dtype: object

In [ ]:
Ontario_df.head()

,Year,Mortgage_delinquency_rate,Average_Value_New_Loans,Residential_Mortgage_Arrears_Rates
0,2013,0.2900,239251.50,0.204866
1,2014,0.2725,251246.75,0.181919
2,2015,0.2475,268252.00,0.153495
3,2016,0.2125,295313.75,0.133884
4,2017,0.1625,327009.00,0.104340

In [ ]:
# Save the aggregated data back to the file
Ontario_df.to_excel("/content/Ontario_Data.xlsx")

In [ ]:
# Check for missing values
print(Ontario_df.isna().sum())

In [ ]:
# Handle missing values
Ontario_cleaned_df = Ontario_df.fillna(Ontario_df.mean())

In [ ]:
# Scale the data
scaler = StandardScaler()
Ontario_cleaned_df_scaled = scaler.fit_transform(Ontario_cleaned_df)

In [ ]:
# Split the data into features and target
features = Ontario_cleaned_df.drop(['Mortgage_delinquency_rate'], axis=1)
target = Ontario_cleaned_df['Mortgage_delinquency_rate']

In [ ]:
# Split the data into training and testing sets
X = Ontario_cleaned_df_scaled[:, 1:]
y = Ontario_cleaned_df_scaled[:, 0]
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [ ]:
# Train the linear regression model
model = LinearRegression()
model.fit(X_train, y_train)

In [ ]:
# Evaluate the model on the testing set
y_pred = model.predict(X_test)

In [ ]:
# Print the test accuracy
print("Test accuracy: ", test_accuracy)