In [ ]:
import pandas as pd

# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder
import pandas as pd
import tensorflow as tf

#  Import and read the Data_Table_Mortages
file_path_Alberta = "//content/Mortages_Alberta.xlsx"
Alberta_df=pd.read_excel(file_path_Alberta)
Alberta_df.head()

In [ ]:
# Extract the year from the "Quarters" column
Alberta_df['Year'] = Alberta_df['Quarters'].str[:4].astype(int)

In [ ]:
# Group the data by year and calculate the mean of each column
Alberta_df = Alberta_df.groupby('Year').mean()

In [ ]:
# Reset the index of the dataframe
Alberta_df = Alberta_df.reset_index()

In [ ]:
Alberta_df.dtypes

Year                                    int64
Mortgage_delinquency_rate             float64
Average_Value_New_Loans               float64
Residential_Mortgage_Arrears_Rates    float64
dtype: object

In [ ]:
Alberta_df.head()

,Year,Mortgage_delinquency_rate,Average_Value_New_Loans,Residential_Mortgage_Arrears_Rates
0,2013,0.4675,282466.25,0.418389
1,2014,0.3625,298145.00,0.306694
2,2015,0.3400,304252.50,0.274545
3,2016,0.4800,300443.25,0.407161
4,2017,0.5175,304217.00,0.442388

In [ ]:
# Save the aggregated data back to the file
Alberta_df.to_excel("/content/Alberta_Data.xlsx")

In [ ]:
# Check for missing values
print(Alberta_df.isna().sum())

In [ ]:
# Handle missing values
Alberta_cleaned_df = Alberta_df.fillna(Alberta_df.mean())

In [ ]:
# Scale the data
scaler = StandardScaler()
Alberta_cleaned_df_scaled = scaler.fit_transform(Alberta_cleaned_df)

In [ ]:
# Split the data into features and target
features = Alberta_df.drop(['Mortgage_delinquency_rate'], axis=1)
target = Alberta_df['Mortgage_delinquency_rate']

In [ ]:
# Split the data into training and testing sets
X = Alberta_cleaned_df_scaled[:, 1:]
y = Alberta_cleaned_df_scaled[:, 0]
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [ ]:
# Train the linear regression model
model = LinearRegression()
model.fit(X_train, y_train)

In [ ]:
# Evaluate the model on the testing set
y_pred = model.predict(X_test)

In [ ]:
# Print the test accuracy
print("Test accuracy: ", test_accuracy)